.alert {
  box-sizing: border-box;
  position: absolute;
  right: 10px;
  bottom: 10px;

  padding: 20px;

  color: #fff;
  border-radius: 5px;
  cursor: pointer;

  transform: translateX(100%);
  visibility: hidden;
  opacity: 0;
  transition: transform 250ms linear, visibility 250ms linear, opacity 250ms linear;
}

.success {
  background-color: green;
}
